@{
    ViewData["Title"] = "Home";
}

<h1>BlogAura</h1>
<p>Welcome to your blog management system!</p>

<ul>
    <li><a asp-controller="Category" asp-action="Index">Categories</a></li>
    <li><a asp-controller="Post" asp-action="Index">Posts</a></li>
    <li><a asp-controller="Tag" asp-action="Index">Tags</a></li>
    <li><a asp-controller="User" asp-action="Index">Users</a></li>
    <li><a asp-controller="Comment" asp-action="Index">Comments</a></li>
</ul>
